.main-image-cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image-cont img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

#more-inf {
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  margin: 0;
  border-radius: 5px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 480px) {
  #more-inf {
    position: fixed;
    top: 2px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 932px) and (orientation: landscape) {
  #more-inf {
    font-size: 15px;
    bottom: 0;
    transform: translateX(-34%);
  }
}
