.thumb-cont {
  z-index: 30;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  position: fixed;
  width: 500px;
  height: 150px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.thumb-cont img {
  margin: 10px;
  border-radius: 5px;
}

.thumb-cont img:hover {
  cursor: pointer;
  border: 2px solid white;
}
