.thumb-cont {
  z-index: 30;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  position: fixed;
  width: 600px;
  height: 140px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
}

.thumb-cont img {
  margin: 10px;
  border-radius: 5px;
}

.thumb-cont img:hover {
  cursor: pointer;
  border: 2px solid white;
}
