@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
  background-color: chocolate;
}

#root {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.125fr 1fr;
  height: 100vh;
  width: 100vw;
}
